---
layout: default
title: Todos os títulos
---

<article class="columns">
  <div class="column is-half is-offset-4">
    {% if page.name == 'blog.html'%}
      <h1 class="title is-1" class="title is-1">Todos os títulos</h1>
    {% endif %}
    <ul>
      {% for post in site.posts %}
        {% unless post.next %}
          <h3 class="subtitle is-3">{{ post.date | date: '%m-%Y' }}</h3>
        {% else %}
          {% capture year %}{{ post.date | date: '%m' }}{% endcapture %}
          {% capture nyear %}{{ post.next.date | date: '%m' }}{% endcapture %}
          {% if year != nyear %}
          <h3 class="subtitle is-3">{{ post.date | date: '%m-%Y' }}</h3>
          {% endif %}
        {% endunless %}
        <li>⚫ <a class="subtitle is-12 custom" href="{{ post.url }}">{{ post.title | upcase }}</a></li>
        <br>
      {% endfor %}
    </ul>
  </div>
</article>