---
layout: default
---

<div class="columns">
    <div class="column is-half is-offset-4">
        {% for post in site.posts %}
        <h3 class="title is-3"><a href="{{ post.url }}">{{ post.title | upcase }}</a></h3>
        <em>Publicado em {{ post.date | date: "%d-%m-%Y" }} por {{ post.author }}</em>
        <br>
        <p>{{ post.excerpt }}</p>
        <section class="section">
        </section>
        {% endfor %}
    </div>
</div>
