<footer>
    {%if page.name == 'index.html' %}
        <script src="/assets/js/index.js"></script>
    {% endif %}
    {%if page.name != 'index.html' %}
        <script src="/assets/js/index.js"></script>
    {% endif %}
</footer>