<header>
<a href="/" class="title is-1">
  <img class="column is-2" src="https://i.vgy.me/d1DLBO.jpg" alt="Moudrim, header da página com o logo da página.">
</a>
<nav class="navbar column is-4">
  {% for item in site.data.navigation %}
    <a href="{{ item.link }}" class="navbar-item" {% if page.url == item.link %}class="current"{% endif %}>
        {{ item.name }}
    </a>
  {% endfor%}
  <div class="navbar-item">
    <nav class="level is-mobile">
      <div class="level-left">
        <a href="http://www.instagram.com/moudrim" class="level-item" aria-label="reply">
          <span class="icon is-small">
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </span>
        </a>
        <a href="https://br.pinterest.com/moudrim/?invite_code=af69965bf21c4117bd0086d65a336657&sender=581034926833425311" class="level-item" aria-label="retweet">
          <span class="icon is-small">
            <i class="fab fa-pinterest-p" aria-hidden="true"></i>
          </span>
        </a>
        <a href="https://nitter.one/moudrim" class="level-item" aria-label="like">
          <span class="icon is-small">
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </span>
        </a>
      </div>
    </nav>
  </div>
</nav>
</header>