---
layout: default
---

<article class="columns">
  <div class="column is-offset-4">
    <div class="content">
      {{ content }}
    </div>
    <section class="section is-small">
      <p>Postado em: {{ page.date | date: "%d-%m-%Y" }} por: {{ page.author}}</p>
    </section>
  </div>
</article>